.article-label {
  color: #00D4FF; /* Vibrant Cyan for article labels */
  margin-left: 10px;
  cursor: pointer;
  transition: color 0.3s ease;
  flex-direction: column;
  align-items: center;
}

.article-label:hover {
  color: #FAA916; /* Accent Orange for hover */
}

.article-title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 8px;
  color: #383838; /* Neutral Gray for article titles */
}

.article-date {
  font-size: 14px;
  color: #ADB5BD; /* Lighter Gray for article date */
  margin-bottom: 10px;
}

p,
.article-excerpt {
  margin-bottom: 24px;
  font-size: 14px;
  color: #555; /* Darker gray for body text */
  max-width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.articles-container {
  color: #0D3B66; /* Primary Blue for container text */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}

.article-item {
  flex: 1 1 calc(50% - 20px);
  height: 150px;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
  border: none;
  border-radius: 25px;
  transition:
          transform 0.3s ease,
          box-shadow 0.3s ease;
  background: #E1E4E8; /* Light Gray for article items */
}

.article-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12);
}

.category-icon {
  align-items: center;
  flex-direction: column;
  display: block;
  margin-top: 0.5em;
}

/* Removed the redundant category colors as they were all the same and replaced with one generic class */
.article-item-category {
  background-color: #0D3B66; /* Primary Blue for category background */
}

.hidden-checkbox {
  display: none;
}

.styled-checkbox {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: #E1E4E8; /* Light Gray for checkbox background */
  border-radius: 50%;
  cursor: pointer;
  vertical-align: middle;
  margin-right: 10px;
  border: 2px solid #ADB5BD; /* Lighter Gray for checkbox border */
  transition:
          background-color 0.3s,
          border-color 0.3s;
}

.styled-checkbox:after {
  content: "";
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FAA916; /* Accent Orange for checkbox 'after' */
  border-radius: 50%;
  width: 16px;
  height: 16px;
}

.hidden-checkbox:checked + .styled-checkbox {
  background: #FAA916; /* Accent Orange for checked state */
  border-color: #FAA916;
}

.hidden-checkbox:checked + .styled-checkbox:after {
  display: block;
  visibility: hidden;
}

@media (max-width: 768px) {
  .article-item {
    flex-basis: 100%;
    margin-bottom: 20px;
  }
}

/* Add this new class for the form */
.form-container {
  font-family: Poppins;
  max-width: 600px; /* Set a max-width for larger screens */
  margin: 0 auto; /* Center the form */
  padding: 20px; /* Add padding around the form */
  border-radius: 15px; /* Rounded edges for the form */
  background-color: #f8f9fa; /* Light background for the form */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

/* Adjust styles for input[type="url"] */
input[type="url"] {
  width: 100%; /* Full width of its parent */
  padding: 15px; /* More padding for larger touch area */
  margin-bottom: 10px; /* Margin at the bottom */
  border-radius: 10px; /* Rounded edges for the input */
  border: 1px solid #ced4da; /* Subtle border */
  font-size: 16px; /* Larger font size */
  box-sizing: border-box; /* Include padding and border in the element's width and height */
}

.card-header {
  border: 1px solid #ced4da; /* Subtle border */
}
